@tailwind base;
@tailwind components;
@tailwind utilities;

/* nền tối cho đẹp */
html, body {
  margin: 0;
  padding: 0;
  background-color: #0f172a;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
